# Binaries
**/bin/
**/bin-int/
Intermediates/

# Sisyphus files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Sisyphus/vendor/VulkanSDK
Boulder/assets/cache
scripts/__pycache__